name: shellcheck

on:
  push:
    branches:
      - main
    paths:
      - sh/*
      - .github/workflows/shellcheck.yml
  workflow_dispatch:

env:
  SHELLCHECK_OPTS: -e SC2029 -e SC2034

permissions: read-all

jobs:
  shellcheck:
    name: Shellcheck
    runs-on: ubuntu-24.04

    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@a4aa98b93cab29d9b1101a6143fb8bce00e2eac4 # v1
        with:
          egress-policy: audit
          
      - name: Source checkout
        uses: actions/checkout@44c2b7a8a4ea60a981eaca3cf939b5f4305c123b # v2.3.4 
      
      - name: Run ShellCheck
        uses: ludeeus/action-shellcheck@00cae500b08a931fb5698e11e79bfbd38e612a38 # master
