name: shellcheck

on:
  push:
    branches:
      - main
    paths:
      - sh/*
      - .github/workflows/shellcheck.yml
  workflow_dispatch:

env:
  SHELLCHECK_OPTS: -e SC2029 -e SC2034

permissions: read-all

jobs:
  shellcheck:
    name: Shellcheck
    runs-on: ubuntu-24.04

    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@20cf305ff2072d973412fa9b1e3a4f227bda3c76 # v1
        with:
          egress-policy: audit
          
      - name: Source checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v2.3.4 
      
      - name: Run ShellCheck
        uses: ludeeus/action-shellcheck@00cae500b08a931fb5698e11e79bfbd38e612a38 # master
