name: shellcheck

on:
  push:
    branches:
      - main
    paths:
      - sh/*
      - .github/workflows/shellcheck.yml
  workflow_dispatch:

env:
  SHELLCHECK_OPTS: -e SC2029 -e SC2034

permissions: read-all

jobs:
  shellcheck:
    name: Shellcheck
    runs-on: ubuntu-22.04

    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@dd2c410b088af7c0dc8046f3ac9a8f4148492a95 # v1
        with:
          egress-policy: audit
          
      - name: Source checkout
        uses: actions/checkout@5a4ac9002d0be2fb38bd78e4b4dbde5606d7042f # v2.3.4 
      
      - name: Run ShellCheck
        uses: ludeeus/action-shellcheck@94e0aab03ca135d11a35e5bfc14e6746dc56e7e9 # master
