name: shellcheck

on:
  push:
    branches:
      - main
    paths:
      - sh/*
      - .github/workflows/shellcheck.yml
  workflow_dispatch:

env:
  SHELLCHECK_OPTS: -e SC2029 -e SC2034

permissions: read-all

jobs:
  shellcheck:
    name: Shellcheck
    runs-on: ubuntu-24.04

    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@c95a14d0e5bab51a9f56296a4eb0e416910cd350 # v1
        with:
          egress-policy: audit
          
      - name: Source checkout
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v2.3.4 
      
      - name: Run ShellCheck
        uses: ludeeus/action-shellcheck@00cae500b08a931fb5698e11e79bfbd38e612a38 # master
